@page
@model RazorPagesContacts.Pages.NameSpace2.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
