@page
@model RazorPagesContacts.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

<p>Enter your name:</p>
<div asp-validation-summary="All"></div>
<form method="post">
    <input asp-for="Customer.Name" />
    <input type="submit" />
</form>